.card-container {
  position: relative;
  width: 300px;
  height: 400px;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.3);
  user-select: none;
  font-size: 130px;
  transition: transform 0.3s, opacity 0.3s ease;
}
.card:not(:last-child) {
  top: 5px;
}

img {
  user-drag: none;
  -webkit-user-select: none; /* Safari, Chrome */
  -webkit-user-drag: none;
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE */
  user-select: none; /* CSS3 */
}

.card-img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.liked-img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: 50%;
}

.demo-cat {
 width: 300px;
 height: auto;
}

@media (max-width: 575px) {
  main {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    overflow: hidden;
  }

  .demo-cat {
    height: 60px;
    width: auto;
  }

  .liked-img {
    width: 300px;
    height: 300px;
  }

  .title-div {
    margin-top: 10px;
  }
}
